:root {
  font-family: "Inter", sans-serif;

  --primary-color: #ffffff;    
  --secondary-color: #4b5563;
  --accent-color: #c3c3c3;
  --background-color: #6000af;
  --border-color: #e5e7eb;
  --text-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);

  --radius-md: 12px;
  --radius-lg: 20px;
  --transition-fast: 0.2s ease-in-out;
}



